#wrap {
  background-color: #E0B3B9 ;
  width: 960px ;
  border: thin solid black ;
  margin: 0 auto ;
}

#masthead {
  background-color: #FFF;
}

#mainnav {
  background-color: #C2C895 ;
  height: 40px ;
}

#mainnav li {
  float: left;
  height: 25px;
  background-color: #CCC;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  border-left: thin solid black;
  border-right: thin solid black;
  line-height: 25px;
}

#sidebar {
  float: left;
  width: 300px;
  background-color: #CCC;
/*  padding: 0px 20px;*/
  line-height: 1.5em;
}

#main {
  float: right;
  width: 600px;
/*  padding: 0px 20px;*/
}

#footer {
  clear: both;
  background-color: #BBB;
}

p, h1, h2, h3 {
  margin-right: 20px;
  margin-left: 20px;
}